body{
    margin: auto;
    background-color: #fafaff;
    overflow-x: hidden;
    color: #30343f;
    text-align: center;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    z-index: 200;
    display: flex;
    margin: auto;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    place-content: center;
    background-color: #1e2749;
    color: #e4d9ff;
}
nav ul {
    display: flex;
    padding-right:40px;
    justify-content: center;
    list-style: none;
}

nav ul li {
    display: grid;
    place-content: center;
    padding: 1vh;
}

nav ul li:hover{
    color: #D1BEB0;
    scale: 1.02;
    transition: ease-in-out 100ms;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}


nav ul li img{
    height: 5vh;
    padding-top: 10px;
}

#home{
    padding-top: 10vh;
    display: grid;
    width: 100%;
    height: 100%;
    place-content: center;
}
#centerItem{
    width: 100%;
    display: grid;
    grid-column: span 3;
    place-items: center;
    height: 392px;
    
}
#centerImage{
    width: 700px;
    border-radius: 30px;
}
#mText{
    text-align: center;
    margin-bottom: 10vh;
}

#main{
    color: #e4d9ff;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-gap: 20px;
    height: 100%;
    place-content: center;
    place-items: center;
}

#back{

    background-color:#273469;
    grid-column: 1;
    border-radius: 10px;
    display: grid;
    width:200px;
    place-content: center;
    height: 100px;
    text-align: center;
}
#back:hover{
    scale: 1.05;
    transition: ease-in-out 100ms;
}
#ui{
    
    background-color: #273469;
    grid-column: 3;
    width:200px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    place-content: center;
    height: 100px;
}
#ui:hover{
    scale: 1.05;
    transition: ease-in-out 100ms;;
}

#designer{
    
    background-color: #273469;
    grid-column: 1;
    border-radius: 10px;
    text-align: center;
    display: grid;
    width:200px;
    place-content: center;
    height: 100px;
}
#designer:hover{
    scale: 1.05;
    transition: ease-in-out 100ms;
}
#front{
    background-color: #273469;
    grid-column: 3;
    border-radius: 10px;
    text-align: center;
    display: grid;
    width:200px;
    place-content: center;
    height: 100px;
}
#front:hover{
    scale: 1.05;
    transition: ease-in-out 100ms;
}
#about{
    height: 100%;
}
#about2{
    height: 100%;
    margin-top: 26vh;
    display: grid;
    place-content: center;
}
#about3{
    margin-top: 26vh;
    height: 100%;
    display: grid;
    place-content: center;
}
#aMain{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 30px;
    height: 100%;
    place-content: center;
}

#skill{
    display: block;
    margin: auto;
    
}
#text{
    border-radius: 25px;
    color: #e4d9ff;
    background-color: #273469;
    width: 200px;
    height: 60px;
    display: grid;
    place-content: center;
}
#line{
    display: grid;
    place-content: center;
    height: 100px;
}
#line img{
    height: 100px;

}
#image{
    display: grid;
    place-content: center;

    overflow: hidden;
}
#skill:hover{
    scale: 1.05;
    transition: ease-in-out 100ms;
}
#image img{
    width: 150px;
    height: 150px;
}
#contact{
    text-align: center;
    margin-top: 26vh;
    display: grid;
    place-content: center;
    height: 100%;
    margin-bottom: 5vh;
}
#contact form{
    color: #e4d9ff;
    padding: 10px;
    border-radius: 25px;
    background-color: #273469;
    display: grid;
    place-content: center;
}
input{
    background: #e4d9ff;
    padding: 1vh;
    margin: 1vh;
    border-radius: 10px;
}
textarea{
    background: #e4d9ff;
    margin: 1vh;
    border-radius: 10px;
}
#button{
    margin: 1vh;
    background-color: #e4d9ff;
    padding: 1vh;
    border-radius: 10px;
    color: #273469;

}
button{
    margin: 1vh;
    color: #e4d9ff;
    padding: 1vh;
    border-radius: 10px;
    background-color: #273469;

}
button:hover{
    scale: 1.05;
    transition: ease-in-out 100ms;
}


@media (max-width: 768px) {
    body{
        font-size: small;
        margin: auto;
        

    }
    nav{
        position: fixed;
        z-index: 100;
        display: grid;
        margin: auto;
        width: 100%;
        height: 10vh;
        overflow: hidden;
        place-content: center;

        font-size: small;
    }

   #centerImage{
    width: 340px;
   }
   #text{
    width: 80px;
    font-size: xx-small;
   }
   #image img{
    width: 80px;
    height: 80px;
   }

   #main{
    
    display: grid;
    margin-top: -10vh;
    grid-template-columns: 20% 50% 20%;
    grid-template-rows: 15% 30% 15%;
    height: 100%;
    place-items: center;
    grid-gap: 2px;
   }
   #about2{
    margin-top: 10vh;
   }
   #about3{
    margin-top: 10vh;
   }
   #mText{
    margin-bottom: 0;
   }
   #aMain{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 2px;
    height: 100%;
    place-content: center;
}
#line{
    display: grid;
    place-content: center;
    height: 50px;
}
#line img{
    height: 50px;

}
#back{
    width: 100px;
}
#ui{
    width: 100px;
}
#designer{
    width: 100px;
}
#front{
    width: 100px;
}
#contact{
    margin-top: 5vh;
}
    
}